# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
.venv
venv
.eggs
*.egg-info

# Node
frontend/node_modules
frontend/.git

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Misc
*.log
*.tmp
.env.local
